:root {
    --jumbotronFont: calc(50px + 2.5vw);
}

body {
    /* font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important; */
    background-color: lightgray;
}

.container {
    display: block;
    text-align: center;
}

.nav-link:hover {
    text-shadow: -1px -1px 1px #2600ffbb;
    transition: text-shadow 0.3s ease-in-out;
}

main {
    display: grid;
    grid-template-columns: 25% auto;
    font-family: 'Roboto', sans-serif;
}

.other {
    padding-top: 0% !important;
    padding: 100px;
    flex: 1 0 100%;
}

.biocard {
    grid-column: 1;
    /* padding-left: 10px; */
    margin-left: 50px;
    max-width: 100%;
    display: block;
}

hr {
    display: none;
}

#contact-info {
    position: sticky;
    top: 0;
}

#bio-pic {
    border: 1px solid black;
    margin: auto;
    max-width: 100%;
    display: block;
    padding: 3px;
}

.card h4 {
    font-weight: bold;
}

.card {
    width: unset !important;
    font-weight: bold;
}

.card-body {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 10px;
    /* width: unset !important; */
    font-weight: bold;
    margin: auto;
    display: block;
    max-width: 100%;
}

h2 {
    margin-bottom: 0;
    font-weight: bold;
    /* color: slategray; */
}

h5 {
    margin: 1rem 0!important;
    font-weight: bold;
}

h5 a {
    font-size: 1.5vw;
}

.card-title {
    color: gray;
    background: rgb(255, 255, 255);
    /* -webkit-text-stroke: .15px rgb(3, 3, 3); */
    /* text-shadow: 1px 0px 1px rgba(3, 3, 3, 1); */
    /* mix-blend-mode: color-dodge; */
    text-align: center;
    font-weight: bold;
}

.cardlinks {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    margin-bottom: 2vh;
}

.card-img-bottom {
    -webkit-box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.62);
    box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.62);
    object-fit: cover;
    margin: auto;
    height: auto;
    width: 50%;
    max-width: 100%;
    display: block;
}

.card-img-bottom:hover {
    -webkit-box-shadow: 0px 0px 20px -4px rgba(35, 75, 253, 0.62);
    box-shadow: 0px 0px 20px -4px rgba(35, 75, 253, 0.62);
    transition: all .2s ease-in-out
}

.cardlinks a {
    flex: 1 0 40%;
}

.h4 {
    margin-top: -2%;
    text-decoration-line: underline !important;
}

.jumbotron {
    text-align: center;
    color: white;
    background-image: url('./images/lukasz-szmigiel-jFCViYFYcus-unsplash.jpg');
    background-size: cover;
    object-fit: cover;
    height: 650px;
    padding-top: 15%;
    padding-bottom: 30%;
    margin-bottom: 0px;
    /* max-width: 100%;
    display: block;
    height: 600px; */
}

.jumbotron h1 {
    font-size: var(--jumbotronFont);
    -webkit-text-stroke: .5px black;
    /* font-family: 'Roboto' sans-serif !important; */
}

.footer {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    gap: 2vw;
    background-color: white;
    color: black;
    -webkit-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.62);
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.62);
    text-align: center;
    font-size: x-large;
}

@media screen and (max-width: 1000px) {
    .navbar {
        width: 100% !important;
        display: inline-flex;
        justify-content: space-between;
    }
    .navbar-nav {
        width: 100%;
        display: inline-flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
    .container-fluid {
        display: unset !important;
    }
    .navbar-nav li {
        display: inline-flex;
    }
    .other {
        padding: 0;
    }
}

@media screen and (max-width: 900px) {
    main {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .jumbotron h1 {
        padding-top: 100px;
    }
    .biocard {
        flex: 0 0 50%;
        margin: auto;
    }
    hr {
        display: block;
    }
    #contact-info {
        display: block;
        position: unset;
        top: unset;
    }
    h5 a {
        font-size: unset;
    }
    .other {
        padding: 60px;
    }
}

@media screen and (max-width: 420px) {
    .jumbotron {
        /* padding: 40% 0; */
        height: 500px;
        padding-top: 10px;
    }
    .jumbotron h1 {
        font-size: 15vw !important;
    }
    .biocard {
        margin: auto;
    }
    .other {
        height: auto;
        max-width: 100%;
        display: block;
        padding: 0px;
    }
    #my-work {
        padding-bottom: 20px;
    }
}

@media (min-width: 1200px) {
    .other {
        padding-bottom: 0;
    }
}