body {
    background-color: #001517;
    /* color: white; */
    /* background-color: #00262b */
}

main {
    display: grid;
    grid-template-columns: 25% auto;
    font-family: 'Roboto', sans-serif;
}

h2 {
    margin-bottom: 0;
    font-weight: bold;
    color: white !important;
}

h5 {
    margin: 1rem 0!important;
    font-weight: bold;
}

h5 a {
    font-size: 1.5vw;
}

hr {
    display: none;
}

.navbar.navbar-inverse {
    background: rgba(0, 0, 0, 0.4);
}

.nav-link:hover {
    text-shadow: -1px -1px 1px #001517;
    transition: text-shadow 0.3s ease-in-out;
}

.parallax {
    /* font: Avenir; */
    text-align: left;
    /* color: white; */
    background-image: url("./images/Background.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    /* height: 675px; */
    height: 100vh;
    /* min-height: 500px; */
    /* padding-top: 3%;
    padding-bottom: 30%;
    margin-bottom: 0px; */
}


/* .parallax {} */

.parallax h1 {
    color: white;
    font-size: 120px;
    /* -webkit-text-stroke: .1px black; */
    margin-left: 170px;
    /* margin-top: 100px; */
    /* font-weight: bold; */
    /* opacity: 1; */
    /* font-family: 'Roboto' sans-serif !important; */
}

#resume-btn {
    color: #001517;
    margin-bottom: 10px;
    font-weight: bold;
}

.container {
    display: block;
    /* text-align: left; */
}

.container h2 {
    margin-bottom: 16px;
}

.other {
    padding-top: 0% !important;
    padding: 150px;
    flex: 1 0 100%;
}

.biocard {
    grid-column: 1;
    /* padding-left: 10px; */
    margin-left: 50px;
    max-width: 100%;
    display: block;
}

#contact-info {
    position: sticky;
    top: 0;
}

#contact-info h2 {
    text-align: left;
    margin-bottom: 0px;
    color: #001517;
}

#bio-pic {
    /* border: 1px solid black; */
    margin: auto;
    padding: 10px;
    /* padding-bottom: 10px; */
    max-width: 100%;
    display: block;
    border-radius: 18px;
    /* padding: 3px; */
}

.card {
    width: unset !important;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 10px;
    margin: auto;
    display: block;
    max-width: 100%;
    /* padding-bottom: 40px; */
    /* background-color: #9aa4a6; */
    background-color: #9ea7a8;
    border-radius: 18px;
    color: #001517;
}

.card a {
    text-align: center;
    color: #001517;
}

.card button {
    text-align: center;
}

.card-title {
    color: #001517;
    /* background: rgb(255, 255, 255); */
    /* -webkit-text-stroke: .15px rgb(3, 3, 3); */
    /* text-shadow: 1px 0px 1px rgba(3, 3, 3, 1); */
    /* mix-blend-mode: color-dodge; */
    text-align: left;
    font-weight: bold;
    margin: 10px;
}

.card-subtitle {
    color: #001517;
}

.cardlinks {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    margin-bottom: 2vh;
}

.card-img-bottom {
    -webkit-box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.62);
    box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.62);
    object-fit: cover;
    margin: auto;
    margin-bottom: 16px;
    height: auto;
    width: 50%;
    max-width: 100%;
    display: block;
}

.card-img-bottom:hover {
    -webkit-box-shadow: 0px 0px 20px -4px #001517;
    box-shadow: 0px 0px 20px -4px #001517;
    transition: all .2s ease-in-out;
}

.cardlinks a {
    flex: 1 0 40%;
}


/* .h4 {
    margin-top: -2%;
    text-decoration-line: underline !important;
    margin-bottom: 20px;
} */

.footer {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    gap: 2vw;
    background-color: white;
    color: black;
    -webkit-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.62);
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.62);
    text-align: center;
    font-size: x-large;
}

@media screen and (max-width: 1000px) {
    .navbar {
        width: 100% !important;
        display: inline-flex;
        justify-content: space-between;
    }
    .navbar-nav {
        width: 100%;
        display: inline-flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
    .container-fluid {
        display: unset !important;
    }
    .navbar-nav li {
        display: inline-flex;
    }
    .other {
        padding: 0;
    }
}

@media screen and (max-width: 900px) {
    main {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .parallax h1 {
        margin-left: 50px;
    }
    .biocard {
        flex: 0 0 50%;
        margin: auto;
    }
    hr {
        display: block;
    }
    #contact-info {
        display: block;
        position: unset;
        top: unset;
    }
    h5 a {
        font-size: unset;
    }
    .other {
        padding: 60px;
    }
}

@media screen and (max-width: 800px) {
    .parallax h1 {
        font-size: 15vh !important;
    }
}

@media screen and (max-width: 730px) {
    .parallax h1 {
        font-size: 10vh !important;
        margin-left: 20px;
    }
}


/* @media screen and (max-width:640) {
    .parallax {
        text-align: left;
        background-image: url("./images/Background_Leaf.png");
        height: 10px;
    }
} */

@media screen and (max-width: 640px) {
    .parallax {
        /* padding: 40% 0; */
        height: 75vh;
        background-attachment: inherit;
    }
    .parallax h1 {
        font-size: 15vw !important;
        margin-left: 20px !important;
    }
    .biocard {
        margin: auto;
    }
    .other {
        height: auto;
        max-width: 100%;
        display: block;
        padding: 0px;
    }
    #my-work {
        padding-bottom: 20px;
    }
    #contact-info {
        width: 75vw !important;
    }
}

@media (min-width: 1200px) {
    .other {
        padding-bottom: 0;
    }
}